* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: black;
    color: rgba(255, 255, 255, 0.64);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header{
    padding: 10px;
    border-bottom: 1px solid #e86100;
    padding-bottom: 60px;
    background: linear-gradient(400deg, #5c2701, #000);
 
   
}

header h1 {
    margin: 20px 0 10px 0;
    text-align: center;
    color: #e86100;
    margin-bottom: 30px;
    padding-top: 50px;
    font-size: 50px;
    
}
header p {
    margin: 2px 0;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    
}
.vivo-container {
    margin-top: 100px;
}

section{
    font-family:ames;
    padding: 80px 50px;
    text-align: center;
    word-spacing: 3px;
           
}

.now{
    margin-bottom: 20px;
}
.quote{
    margin-top: 40px;
}
.video-box{
    border: 4px solid #c35a0a;
    border-radius: 20px;
    background-color: #000;
    /* box-shadow: 0 0 25px rgba(9, 9, 9, 0.3); */
    overflow: hidden;
    box-sizing: border-box;
    width: 900px;
    display: inline-block;
    padding-top: 0%;  
   
}


.video-box video {
    width: 900px;
    max-width: 800px;
    height: auto;
    border-radius: 20px;
    box-sizing: border-box ;
    box-shadow: 0 0 25px rgba(77, 69, 39, 0.393);
   
}  

    
.btn {
    background-color: rgb(185, 16, 16);
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    border-radius: 20px;
    margin: 10px;

}


.btn:hover {
    background-color: rgb(202, 151, 23);
    box-shadow: 0 0 25px rgba(245, 216, 110, 0.393);
    
}


.card-container{
    background-color: rgba(48, 46, 46, 0.3);
    flex-wrap: wrap;
    text-align: left;
     
}
.movie{
    margin-bottom: 20px;
}

.macondo-regular {
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
.card-container:hover{
    box-shadow: 0 0 25px rgba(192, 152, 8, 0.393);
    
}


h2{
    color: #e86100;
}

ul li {
  list-style: none; 
}


#card{
   margin: 200px;
   border-radius: 50px;
   line-height: 30px;
   margin-top: 40px;
   margin-bottom: 40px;
   position: relative;
    
   
}


footer{
    background-color: rgba(48, 46, 46, 0.3);
    text-align: center;
    border-top: 1px solid #e86100;
    padding-bottom: 20px;
    padding-top: 30px;

}